body {
    background: #19212f;
    color:#ddd;
    margin:0px;
    margin-top:80px;
    font-family:sans-serif;
    font-size:15px;
}

h1,h2 {
    font-family: sans-serif;
}

.jsP3D_legend {
    margin: 10px 0px 0px 0px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    max-height: 550px;
    margin-left: 20px;
    overflow: auto;
}

.jsP3D_legend h1 {
    font-family: "RetroscapeRegular";
    margin: 0px 0px 5px;
    font-size: 20px;
    border-bottom: 1px solid white;
    padding: 5px 0px 7px;
    color: #fff;
    font-family:sans-serif;
    font-size:18px;
}

.jsP3D_legend td {
    font-family:sans-serif;
    font-size:14px;
}

.jsP3D_labelColor {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    margin-right: 10px;
}

.jsP3D_axesTitleLegend {
    width: 100%;
    margin-top: 4px;
}

.jsP3D_legend:empty {
    display: none;
}

#defaultColor {
    width:130px;
}

#pageheader {
    background:black;
    padding:10px 20px;
    height:30px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:100;
}

#pageheader h1 {
    margin: 0px;
    position: relative;
    bottom: 7px;
    margin-left: 10px;
    font-size:22px;
}

#pageheader h1:nth-child(3) {
    font-family: sans-serif;
}

#main h2:not(:first-child) {
    margin-top:60px;
}

a {
    color:white;
    text-decoration:none;
}

#github {
    position:absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    line-height: 50px;
    padding: 0px 50px;
    border-left: 1px solid #222;
}

#pageheader * {
    display:inline;
    max-height:100%;
}

#left, #right {
    display: table-cell;
    vertical-align: top;
    padding:0px 20px;
}

#main {
    margin:30px auto;
    display:table;
    position:relative;
}

#csvhead table {
    width: 100%;
    opacity: 0.6;
    font-size: 12px;
    letter-spacing: -0.2;
}

#csvhead td {
    overflow: hidden;
}

#left {
    text-align:center;
    /*width:740px;*/
}

#left small {
    display: inline-block;
    margin: 10px;
}

#right, #threecanvas, #csvhead {
    min-width:700px;
    width:700px;
}

#threecanvas, #csvhead {
    height:600px;
    margin:0px auto;
    display:block;
    border-radius: 5px;
    overflow: hidden;
    text-align:left;
}

.section
{
    margin-bottom:60px;
}

#csvhead {
    height:auto;
    overflow-x: auto;
}

#fixed {
    position:fixed;
}

#threecanvas:focus {
    outline: none;
}

#formulaText {
    width: 350px;
    margin-right: 10px;
}

input, button, select, .button {
    color: white;
    background: rgb(31, 41, 60);
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow:0px 1px 0px black;
    border:2px solid transparent;
    height:35px;
    box-sizing:border-box;
    margin-right: 10px;
}

button, .button {
    color:#ccc;
}

*:focus {
    outline:0px;
}

.highlight {
    /*border-color: rgba(181, 218, 255, 0.09);*/
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    color:white;
    border: 2px solid rgba(51, 153, 202, 0.35);
}

.button:hover, button:hover, select:hover {
    border: 2px solid #3399ca;
    cursor: pointer;
}

.button, button, select {
    margin-left: 0px;
    display: inline-block;
    transition: border-color 0.1s linear;
}

#right table
{
    table-layout:fixed;
    width:100%;
}

.short {
    width:100px;
}

small {
    opacity:0.4;
}

small p {
    margin:0;
}

#fileup {
    padding: 5px 15px;
    position:relative;
    width:100px;
    display:none;
}

input[type=number] {
    width:70px;
    padding-right:5px;
    text-align: left;
    margin-right:6px;
    padding-left: 10px;
}

#dataPointSize {
    width:85px;
}

#sep, #submitcsv {
    width:100px;
    text-align: center;
}

p, form {
    margin: 7px 0px;
}

h2 {
    padding-top: 7px;
    margin: 0px;
}

label {
    margin-right:10px;
    color:#999;
}

#footer {
    width: 100%;
    background: black;
    box-sizing: border-box;
    opacity: 0.5;
    padding: 15px 20px;
}