body
{

}

#main
{
    margin:50px auto;
    display:block;
    width:500px;
}

#babyloncanvas
{
    width:500px;
    height:400px;
    margin:50px auto;
    display:block;
    border:1px solid black;
}

#babyloncanvas:focus {
    outline: none;
}
