body
{
    background: #19212f;
    color:white;
    font-family:sans-serif;
    text-align: center;
}

#main
{
    margin:30px auto;
    display:block;
    width:700px;
}

#threecanvas
{
    width:700px;
    height:600px;
    margin:30px auto;
    display:block;
    border-radius:2px;
}

#threecanvas:focus {
    outline: none;
}

#formulaText {
    width: 500px;
    margin-right: 10px;
}
input, button {
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
}

small
{
    opacity:0.3;
}

small p
{
    margin:0;
}

#fileup {
    padding: 12px 15px;
}

.indices 
{
    margin-left: 6px;
    width:50px;
    text-align: center;
}

#sep, #submitcsv
{
    margin-left: 6px;
    width:100px;
    text-align: center;
}

button
{
    text-decoration:underline;
}